
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Manrope:wght@800&family=Oswald&display=swap');

*
{
    
    margin: 0;
    padding: 0;
}
header{
    font-family: 'Fuggles', cursive;
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(83deg, rgba(2,0,36,1) 71%, rgba(250,250,250,1) 96%, rgba(221,221,221,1) 100%);
    height: 100px;
}
.nav{
    width: 80%;
    display:flex;
  justify-content:flex-end;
   
}
@keyframes MOVE-BG {
 
    from {
        transform: translateX(25%);      }
      to { 
        transform: translateX(0);
      }
 }
.navimg{
    /* margin-left: -7px; */
    width: 650px;
    background-image: url(ph/logo.png);
    background-repeat: no-repeat;
    background-position: left;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    background-size: auto;
    opacity: 0.5;
    z-index: 0;
    -webkit-animation-name: MOVE-BG;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
}
.navimg:hover{
    opacity: 1;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
.title{
   font-size: x-large;
    color: aliceblue;
    z-index: 6;
    
}
.title h1{
    padding-top: 23px;
    padding-left: 81px;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    display: flex;
    
}
.nav ul{
    font-size:large;
    font-family: 'Oswald', sans-serif;
    color: rgba(255, 255, 255, 0.68);
    display: flex;
    flex-direction: row;
    height: 58px;
    
    justify-content: flex-start;
    align-items: center;
    margin: auto 0;

}



.nav ul li{
    z-index: 3;
    display: flex;
    /* overflow: scroll; */
    list-style: none;
    padding-right: 100px;
 
}

.nav ul li:hover{
color: rgb(255, 255, 255);
    
}
.b{
    color: rgb(228, 228, 228);
}
.c{
    color: rgb(0, 0, 0);
}
.a:hover{
    color: red;
}
.b:hover{
    color: blue;
}
.c:hover{
    color: green;
}
main{
    margin-top: 5px;
}
.bgmain{

    min-height: calc(100vh - 58px );
    background-image: url(ph/v.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
    filter: grayscale(100%);
    -webkit-filter: grayscale(0%);
    
}
.txtm{
    cursor: url('logo.png'),auto;
    background-color: rgba(0, 0, 0, 0.485);
    display: flex;
    min-height: calc(100vh - 58px );
    justify-content: center;
    flex-direction: column;
    padding: auto;
}
.bgmain h2{
   margin:0 auto ;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: xxx-large;
}
.fade-in-text {
    margin:0 auto ;
    color: aliceblue;
    font-family: 'Manrope', sans-serif;
    font-size: large;
    animation: fadeIn 5s;
  }
  .mm{
    display: flex;
    justify-content: center;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  .sec{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 58px );
    background: #000;
    color: white;
    width: 100%;
  }
  .sec p{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
    font-size: xxx-large;
  }
  .grid{
    margin: 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #223f57b6;
    padding: 10px;
    height: 40vh;
  }
  .g{
    background-color: rgba(116, 104, 104, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 35vh;
  margin: 2%;
  padding: 2%;
  font-size: x-small;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  }
  .g img{
    height: 25vh;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);

  }
  .g img:hover{
    filter: grayscale(100%);
    -webkit-filter: grayscale(0%);

  }
  .g p{
    margin-top: 5%;
    font-size: large;
  }
  footer{
    display: flex;
    background-color: #5f5f5f;
    height: 40vh;
  }
  .text{
    
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    margin: auto;
    color: white;
    font-family: 'Manrope', sans-serif;
  }